.btn {
  padding-left: 2em;
  padding-right: 2em;

  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: #fff;
  font-family: var(--font-secondary);

  border-radius: 0.2em;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);

  color: #fff;
}

.btn-light {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);

  color: var(--color-secondary);
}

.btn-light:hover {
  background-color: #fff;
  border-color: #fff;

  color: var(--color-secondary);
}


.btn-ghost {
  background-color: transparent;

  color: var(--color-secondary);
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: #fff;
}
