:root {
  --color-primary: #f96552;
  --color-secondary: #909090;
  --color-third: #fafafc;
  --font-primary: "Amatic SC", cursive;
  --font-secondary: "Oswald", sans-serif;
}

html {
  font-family: var(--font-secondary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: bold;
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

ul,
ol,
dl,
strong,
em,
b {
  font-weight: bold;
}

s,
del {
  text-decoration: line-through;
}

u,
ins {
  text-decoration: underline;
}

dfn {
  font-weight: lighter;
}

abbr {
  font-weight: normal;
}


q,
i,
cite,
blockquote {
  font-weight: lighter;
  font-style: italic;
}

mark {
  color: var(--color-primary: #f96552;);
}
